/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
  font-family: 'Montserrat', sans-serif;  
  font-size: 16px;
}

body {
    background-color: #F9DEBF;
}

.main-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* form section */
.form-container {
 background-color: #F9B180;
 height: 300px;
 width: 600px;
 border-radius: 20px;
 margin-top: 70px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}

h3 {
    color: #3D1A0A;;
}

label {
    color: #3D1A0A;
    margin: 5px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #F9DEBF;
    text-align: center;
}

#ticket-form {
  display: flex;
  flex-direction: column;
}

/* bottone */
#my-button {
    width: 300px;
    height: 50px;
    padding: 10px 20px;
    line-height: 0;
    background-color: #D65044;
    border: 1px solid #3D1A0A;
    color: #F9DEBF;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;  
}

/* risultati */
#risultato {
 background-color: #F9B180;
 border-radius: 20px;
 margin-top: 70px;
 height: 300px;
 width: 280px;
 line-height: 40px;
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
    color: #3D1A0A;;
}